<h1>Convert <%= @original_currency %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @to_symbols.each{|s| %>
  <li>
    <a href="/<%= @original_currency %>/<%= s[0].gsub(@original_currency,"") %>">Convert 1 <%= @original_currency %> to <%= s[0].gsub(@original_currency,"") %></a>
  </li>
  <%} %>
</ul>
